---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Acceptable Use Policy - intent solutions io">
  <div class="min-h-screen bg-zinc-900 py-24">
    <div class="container mx-auto px-8 max-w-4xl">
      <h1 class="text-h1 font-bold text-zinc-50 mb-12">Acceptable Use Policy</h1>

      <div class="getterms-document-embed"
           data-getterms="wH2cn"
           data-getterms-document="acceptable-use"
           data-getterms-lang="en-us"
           data-getterms-mode="direct"
           data-getterms-env="https://gettermscdn.com">
      </div>

      <script type="text/javascript">
        (function(d, s, id) {
          var js, ref = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://gettermscdn.com/dist/js/embed.js";
          ref.parentNode.insertBefore(js, ref);
        })(document, "script", "getterms-embed-js");
      </script>
    </div>
  </div>
</Layout>
